@font-face {
    font-family: 'Metropolis-Black';
    src: url(webfonts/Metropolis-Black.otf);
}
@font-face {
    font-family: 'Metropolis-Medium';
    src: url(webfonts/Metropolis-Medium.otf);
}
a, h3{
    font-family: 'Metropolis-Black', sans-serif;
    font-size: 25px;
}
i{
    font-family: 'Metropolis-Black', sans-serif;
    font-size: 16px;
    color: white;
}

small, p{
    font-family: 'Metropolis-Medium', sans-serif;
    font-size: 15px;
    color: white;
}
label{
    font-family: 'Metropolis-Black', sans-serif;
    font-size: 16px;
    color: white;
    letter-spacing: 3px;
}
.centered{
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 40px;
}
.container{
    margin-right: 40px;
    align-content: center;
}
.background-image{
    background-image: url("https://raw.githubusercontent.com/MooiBlack/Portafolio/master/Chillhop/images/friendsCircle.jpg");
    /*background-color: #cccccc;*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background-black{
    background-color: black;
    opacity: 0.9;
}
.large{
    height: 850px;
    margin-bottom: 0px;
}
/*.display{
    display: inline-block;
    width: 350px;
    height: 300px;
    background-color: aquamarine;
    padding-left: 4%;
}*/
.grid{
    display: grid;
    
    grid-template-columns: fit-content(150px)
                            fit-content(700px);
}
.grid-4{
    padding-top: 0;
    display: grid;
    grid-template-columns: fit-content(100px)
                            fit-content(100px)
                            fit-content(100px)
                            fit-content(100px)
                            fit-content(100px);
                            
}
h3 {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
    margin: 0;
    margin-top: 20px;
}
h3+small{
    color: #9999;
    
}
.space-img-boxes{
    margin-bottom: 10px;
}
/*.row::before{
    display: table;
    content: " ";
}*/
div{
    display: block;
}
.boton{
    border-radius: 17px;
    height: 50px;

}
.logo-image{
   -webkit-filter: grayscale(100%);
}
.down-boxes{
    text-align: center;
}
@media (min-width: 1200px)
.container {
    fit-content: 100px;
}